.single-product {
    border-radius: 3px;
    border: none;
    box-shadow: 1px 1px 12px #333333;
    padding: 20px 10px;
}

.products-image {
    position: relative;
    padding: 5px;
    border-radius: 2px;
}

.products-image img {
    width: 300px;
    margin-bottom: 40px;
}

.products-image span {
    position: absolute;
    font-size: 16px;
    right: 10px;
    top: 10px;
    background-color: #FEB300;
    color: whitesmoke;
    font-weight: bold;
    padding: 5px 25px;
    border-radius: 3px 12px;
}

.price {
    font-size: 16px;
}

.price span {
    font-size: 16px;
}

.single-product button {
    padding: 10px 14px;
    border-radius: 2px;
    background-color: #D24F65;
    color: white;
    font-weight: bold;
    border: none;
    width: 100%;
    cursor: pointer;
}

.btn-icon {
    margin-right: 20px;
}
